<main class="homepage">
    <div class="antonio animated bounce delay-2s">
        <p>Photo of the master of everything</p>
        <img class="" src="/assets/images/sumo.png" alt="Me">
    </div>
    <div class="info">
        <p>I know:</p>
        <ul class="skills">
            <div class="skill animated fadeInUp delay-1s">Ruby on Rails</div>
            <div class="skill animated fadeInUp delay-2s">Wordpress</div>
            <div class="skill animated fadeInUp delay-3s">Javascript</div>
            <div class="skill animated fadeInUp delay-4s">CSS</div>
            <div class="skill animated fadeInUp delay-5s">AWS</div>
        </ul>
    </div>
    <div class="button-wrapper">
        <p>I also write things from time to time</p>
        <button>Let me see!</button>
    </div>
</main>