<main class="homepage">
    <div class="antonio">
        <p>Photo of the master of everything</p>
        <img src="/assets/images/sumo.png" alt="Me">
    </div>
    <div class="info">
        <p>I know:</p>
        <ul class="skills">
            <div class="skill">Ruby on Rails</div>
            <div class="skill">Wordpress</div>
            <div class="skill">Javascript</div>
            <div class="skill">CSS</div>
            <div class="skill">AWS</div>
        </ul>
    </div>
    <div class="button-wrapper">
        <p>I also write things from time to time</p>
        <button>Let me see!</button>
    </div>
</main>