@media screen and (max-width: 800px) {
}

@media screen and (min-width: 800px) {
    .post-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    .social-media-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}